<div class="page-header">
  <h1>
    Manage horses
    <%= link_to 'New Horse', new_horse_path, class: 'btn btn-default pull-right' %>
  </h1>
</div>

<table class="table table-hover table-condensed" style="width: auto;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @horses.each do |horse| %>
      <tr>
        <td><%= horse.name %></td>
        <td><%= horse.notes %></td>
        <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
        <td><%= link_to 'Destroy', horse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


