<div class="page-header">
  <h1>Sign up<h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          There are <%= pluralize(@user.errors.count, "problem") %> with your account information:

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_for(@user, class: 'form', html: { autocomplete: 'off' }) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Who are you?' %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Black Bart' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Your email address?' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'blackbart@gmail.com' %>
      </div>

      <div class="form-group">
        <%= label_tag :signup_token, 'Enter the Super Secret Signup Key Phrase™' %>
        <%= text_field_tag :signup_token, nil, class: 'form-control', placeholder: 'no comment' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Choose a password' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'ihatepasswords' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Type it again' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'ihatepasswords' %>
      </div>

      <%= f.submit 'Sign up', class: 'btn btn-large btn-primary' %>
      <span class="pull-right"><a href="<%= signin_path %>" class="btn btn-default">Already have an account?</a></span>
    <% end %>
  </div>
</div>