<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Run</th>
      <th>UUID</th>
      <th>Notes</th>
      <th>Original name</th>
      <th>Source</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.run_id %></td>
        <td><%= video.uuid %></td>
        <td><%= video.notes %></td>
        <td><%= video.original_name %></td>
        <td><%= video.source %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
