<p id="notice"><%= notice %></p>

<p>
  <strong>Run:</strong>
  <%= @video.run_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @video.uuid %>
</p>

<%= render @video %>

<p>
  <strong>Notes:</strong>
  <%= @video.notes %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
