<%= cache(run) do %>
  <div class="thumbnail">
    <img src="http://149733f5c45cf2e0c643-02593f8167b03fe1fa82e799dcd81473.r95.cf5.rackcdn.com//<%= run.video.uuid %>.png" onerror="this.src='/not_found.gif';">
    <div style="positon: absolute; width: 0; height: 0;">
      <% if run.penalty? %>
        <% if run.penalty == 'notime' %>
          <div class="label label-danger"><span class="glyphicon glyphicon-time"></span> No Time</div>
        <% else %>
          <div class="label label-warning"><span class="glyphicon glyphicon-time"></span> <%= number_with_precision(run.time, precision: 3) %> <%= run.penalty %></div>
        <% end %>
      <% else %>
        <% if run.time.to_i == 0 %>
          <div class="label label-warning"><span class="glyphicon glyphicon-time"></span> Unknown</div>
        <% else %>
          <div class="label label-success"><span class="glyphicon glyphicon-time"></span> <%= number_with_precision(run.time, precision: 3) %></div>
        <% end %>
      <% end %>
    </div>
    <div class="caption">
      <p><%= run.rider.name %> on <%= run.horse.name %></p>
      <p><small>
        <span class="glyphicon glyphicon-list-alt"></span> <%= run.show_class.name %><br />
        <span class="glyphicon glyphicon-home"></span> <%= run.show.name %> show<br />
      </small></p>
    </div>
  </div>
<% end %>