<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Search results for "<%= params[:query] %>"</h1>
</div>

<% @runs.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |run| %>
      <div class="col-xs-6 col-sm-3 col-xl-6" style="padding-bottom: 15px;">
        <a href="<%= run_path(run) %>"><%= render(run) %></a>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate @runs, renderer: BootstrapPagination::Rails %>  