<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= render @run %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info">
      Current playlist: <%= session[:playlist_name] %>
    <div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p><%= render @run.video %></p>
  </div>

  <div class="col-md-3">
    <div class="btn-group" style="margin-bottom: 20px;">
      <a href="<%=run_path @previous_video %>" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Previous
      </a>

      <a href="<%= run_path @next_video %>" class="btn btn-primary">
        Next Video
        <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </div>

    <div class="well">
      <table class="table table-condensed">
        <tr>
          <td>Rider</td>
          <td><%= link_to @run.rider.name, @run.rider %></td>
        </tr>
        <tr>
          <td>Show</td>
          <td><%= link_to @run.show.name, @run.show %></td>
        </tr>
        <tr>
          <td>Class</td>
          <!-- FIXME: .... -->
          <td><%= link_to @run.show_class.category.name, @run.show_class.category %></td>
        </tr>
        <tr>
          <td>Placing</td>
          <td><%= if @run.placing.nil? then 'No placing' else @run.placing.ordinalize end %></td>
        </tr>
      </table>
    </div>

    <div class="well">
      <table class="table table-condensed">
        <tr>
          <td>Views</td>
          <td><%= @run.video.times_viewed %></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><%= @run.notes %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  mixpanel.people.increment("videos played");
  mixpanel.track("Played video", {
    "rider": "<%= @run.rider.name %>",
    "show": "<%= @run.show.name %>",
    "class": "<%= @run.show_class.name %>",
    "category": "<%= @run.show_class.category.name %>",
    "run_id": "<%= @run.id %>",
    "viewer": "<%= current_user.name %>"
  });
</script>

