<%= form_for(@show_class) do |f| %>
  <% if @show_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show_class.errors.count, "error") %> prohibited this show_class from being saved:</h2>

      <ul>
      <% @show_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
