<div class="page-header">
  <h1>
    <%= headline %>
    <% if subtitle %>
      <small><%= subtitle %></small>
    <% end %>
  </h1>
</div>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li <% unless current_refinement %> class="active" <% end %>>
        <%= link_to "All #{refinement_name.pluralize}", no_refinements_url %>
      </li>
      <% refinements.each do |refinements| %>
        <li <% if !current_refinement.nil? and current_refinement == refinements %> class="active"<% end %>>
          <%= refinement_link_generator.call(refinements) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">

  <% @runs.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |run| %>
        <div class="col-xs-6 col-sm-3 col-xl-6" style="padding-bottom: 15px;">
          <a href="<%= run_path(run) %>"><%= render(run) %></a>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= will_paginate @runs, renderer: BootstrapPagination::Rails %>  
  </div>
</div>